.carousel {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.carouselItems {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.carouselBtn {
    width: 10%;
    display: flex;
    justify-content: center;
}


.carouselItemBox {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
}


.btn {
    border-radius: 70%;
}

.imgText {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lastText {
    color: gray;
}