.img {
    width: 150px;
    height: 70px;
    margin-right: 50px;
}

.header {

    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}
.header:nth-child(1){
    order: 1;
}
.header:nth-child(2){
    order: 2;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.addItemBtn {
    color: white;
    background-color: midnightblue;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    border: none;
    margin-right: 40px;
}

.addItemBtn:hover {
    background-color: royalblue;
}

.container {
 display: flex;
 margin: 200px;
 flex-direction: column;
 margin-top: 0px;

}

.sortBox{
display:flex ;
justify-content: flex-end;
}

.paginationBox {
  display:flex ;
  justify-content: center;
  align-items: center;

    
}


@media only screen and (min-width: 1000px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }
    
    .headerLeft {
        display: flex;
        align-items: center;
    }
    


}