.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.headerLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.container {
    display: flex;
    margin: 5%;
    flex-direction: column;
    margin-top: 0px;
}

.sortBox {
    display: flex;
    justify-content: flex-end;
}

.paginationBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 821px) {

    .headerLeft {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 0px;
    }

    .container {
        margin: 20%;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 1000px) {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        flex-direction: row;
    }
}