.footer {
    background-color: royalblue;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
}

.footerBox {
    margin: 1%;
    margin-top: 0px;
    display: flex;
    padding: 1%;
    flex-direction: row;
}
.footerEmailInfo{
    margin-top: 20%;
}
.footerText {
    width: 45%;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
    font-size: small;
}


@media only screen and (min-width: 1200px) {
    .footer {
        position: fixed;
    }
    .footerEmailInfo{
        margin-top: 50px;
    }
    .footerText{
        font-size: medium;
    }
    

}

.footerImg {
    width: 10%;
    height: 150px;
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.footerMap {
    width: 45%;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
}

.gmapCanvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}